{% load static i18n %}
{% load sitetree %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE}}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
<head>
	<meta charset="utf-8" />
	<title>{{page_title}} | Marboh</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
	<meta content="Marboh" name="author" />
	<!-- App favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'dashboard/images/favicon/apple-touch-icon.png'%}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'dashboard/images/favicon/favicon-32x32.png'%}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'dashboard/images/favicon/favicon-16x16.png'%}">
	<link rel="manifest" href="{% static 'dashboard/images/favicon/site.webmanifest'%}">
	<link rel="mask-icon" href="{% static 'dashboard/images/favicon/safari-pinned-tab.svg" color="#5bbad5'%}">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	{% if LANGUAGE_BIDI %}
	<link href="{% static 'dashboard/css/bootstrap-rtl.min.css'%}" id="bootstrap-style" rel="stylesheet" type="text/css" />
	<link href="{% static 'dashboard/css/app-rtl.min.css'%}" id="app-style" rel="stylesheet" type="text/css" />
	{% else %}
	<link href="{% static 'dashboard/css/bootstrap.min.css'%}" id="bootstrap-style" rel="stylesheet" type="text/css" />
	<link href="{% static 'dashboard/css/app.min.css'%}" id="app-style" rel="stylesheet" type="text/css" />
	{% endif %}
	<link href="{% static 'dashboard/css/fontawsome/all.css' %}" rel="stylesheet" type="text/css" />
</head>