{% extends "dashboard/layout/base_admin.html" %}
{% load static i18n %}
{% load sitetree %}
{% block pagetitlebox %}
<div class="row" bis_skin_checked="1">
	<div class="col-12" bis_skin_checked="1">
		<div class="page-title-box d-sm-flex align-items-center justify-content-between"
			bis_skin_checked="1">
			<h4 class="mb-sm-0">{{page_title}}</h4>
			<div class="page-title-right" bis_skin_checked="1">
				<ol class="breadcrumb m-0">
					<li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a></li>
					<li class="breadcrumb-item"><a href="{% url 'users:user_list' %}">{% trans "Users" %}</a></li>
					<li class="breadcrumb-item active"><a href="javascript: void(0);">{% trans page_title %}</a></li>
					
				</ol>
			</div>
		</div>
	</div>
</div>
{% endblock pagetitlebox %}

{% block content %}
<form method="post">
	{% csrf_token %}
	<p>Are you sure you want to delete "{{ object }}"?</p>
	<div>
	  <input class="btn btn-danger" value="{% trans 'Delete User' %}" type="submit">
	</div>
  </form>
{% endblock content%}